<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inter-Species Matchmaker</title>
</head>
<body>

<div class="container">
    <div class="row">
    <div class="col">
        <h1>Inter-Species Matchmaker</h1>
        <p>
            Want a cat friend for your dog or a dog friend for your cat? Then you've come to the right place!
            Here at the <i>Inter Species Matchmaker</i>, we love helping to create those adorable friendships that
            span across different species.
        </p>
        <h2>Testimonials</h2>
        <blockquote>
            My fox, Todd, met a really nice hound named Copper through this website.
            Now the two of them are the best of friends! They have so much fun together.
        </blockquote>
        <a href="signup" class="btn btn-primary btn-lg center-block">Get Started!</a>
    </div>
    <div class="col">
        <img src="http://ekanzler.greenriverdev.com/328/dating/images/cat-and-dog.jpg" alt="Cat and Dog" class="rounded">
    </div>
    </div>
</div>

</body>
</html>