<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>First Name:</b> {{@SESSION.member->getFname()}}</p>
<p><b>Last Name:</b> {{@SESSION.member->getLname()}}</p>
<p><b>Age:</b> {{@SESSION.member->getAge()}}</p>
<p><b>Gender:</b> {{@SESSION.member->getGender()}}</p>
<p><b>Phone Number:</b> {{@SESSION.member->getPhone()}}</p>
<p><b>Email:</b> {{@SESSION.member->getEmail()}}</p>
<p><b>State:</b> {{@SESSION.member->getState()}}</p>
<p><b>Seeking:</b> {{@SESSION.member->getSeeking()}}</p>
<p><b>Biography:</b> {{@SESSION.member->getBio()}}</p>
<check if="{{@SESSION.premium}}">
    <p>
        <b>Indoor Interests:</b>
        <repeat group="{{@SESSION.member->getIndoorInterests()}}" value="{{@indoorInterest}}"><br>{{@indoorInterest}}</repeat>
    </p>
    <p>
        <b>Outdoor Interests:</b>
        <repeat group="{{@SESSION.member->getOutdoorInterests()}}" value="{{@outdoorInterest}}"><br>{{@outdoorInterest}}</repeat>
    </p>
</check>
<a href="finalize" class="btn btn-primary">Finish</a>
</body>
</html>